.container {
  /* width: 672px; */
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}

.row {
  height: 64px;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  font-family: Roboto, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  list-style: none;
  gap: 15px;
}

.textInShape {
  font-size: 24px;
  line-height: 32px;
  color: #000;
}

.opacityclass {
  color: #999999;
}

.tooltip {
  width: 174px;
  height: 78px;
  background-color: #c2f5ff;
  position: absolute;
  border-radius: 12px;
}

.tooltipText {
  font-size: 18px;
  line-height: 24px;
  color: #004980;
  text-align: center;
  margin-top: 15px;
}
